/* JakeT.css */

 BODY {
     background-color: rgb(54,57,66) 
}

}
 h1 {
     color: white;
     text-align: left;
}

 p {
     text-align: left 
}

 P {
     color: white;
}

 label {
     color: white 
}

 button {
     color: white
}